*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

li {
    list-style: none;
}

a {
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

input,
button,
textarea {
    font-weight: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
/*    MAIN PART    */ 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
body {
    font-family: Lato, serif;
    font-weight: 400;
    color: #f3f4f7;
    background-color: #F6F6F6;
    line-height: 1.3;
    font-size: 16px;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #abafe8;
}

.wrapper>main {
    flex-grow: 1;
}

.bc__color{
    max-width: 1260px;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.5) 10px 19px 38px, rgba(0,0,0,0.5) 10px 10px 15px 12px;
}

.about__body{
    position:relative;
}
.skills__body{
    position: relative;
}
.divider--3::after,
.divider--2::before{
    content:'';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    left: 0;
}
.divider--2::before{
    top: 230px;
}
.divider--3::after{
    bottom: 60px;
}

.divider::after{
    content:'';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    bottom: -30px;
    left: 0;
}
/* ========= */

/* [class*="__container"] {
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
} */

img {
    max-width: 100%;
}

.header__logo img{
    max-width: 100px;
    max-height: 100px;
    
}
.header__logo{
    transition: all 0.3s ease 0s;
}
.header{
    padding: 20px;
}
.header__container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;   
}

.menu__list{
    display: flex;
    flex-wrap: wrap;
}
.menu__item{
    margin-right: 20px;
}
.menu__item{
    position: relative;
}
.menu__link::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #C6EDE6;
    height: 3px;
    width: 0%;
    transition: all 0.4s ease 0s;
}
.link__menu--active{
    color: #C6EDE6;
    font-weight: 700;
}
.link__menu--active:hover.link__menu--active{
    color: white;
}
.menu__link:hover::before{
width: 100%;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
}

li,p{
    font-size: 1.2rem;
}
/*  ABOUT SECTION  */

.section__about:not(:last-child){
    margin-bottom: 60px;
}
.item__image{
    width: 150px;
    height: 150px;
    justify-content: center;
    background: url('images/avatar.png') center/contain no-repeat;
    border-radius: 50%;
}

.about__row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item--left p{
    margin-right: 200px;
}
.item--right{
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.item--left{
    flex: 1 1 300px;
}
.item--left h1{
    font-weight: 700;
    font-size: 2rem;

}
.item--left:not(:last-child) h1{
   margin-bottom: 30px;
    
}
.item__social{
    width: 60px;
    height: 60px;
    transition: all 0.3s ease 0s;
}
.item__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.item__social:hover,
.header__logo:hover{
    transform: scale(1.3);
}


/* SKILLS SECTION  */

.item__title:not(:last-child),
.section__skills:not(:last-child),
.skills__column:not(:last-child){
    margin-bottom: 60px;
}
.item__list li {
    line-height: 1.6;
    margin-left: 32px;
    min-height: 20px;
}

.item__list li:not(:last-child) {
    margin-bottom: 4px;
}

.item__list li::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: url('./images/check.svg') 0 1.5px /contain no-repeat;
    margin-left: -32px;
    margin-right: 16px;
}

.item__list li:hover::before {
    transition: all 0.5s ease 0s;
    transform: rotate(360deg);
}

.item__list:not(:last-child) {
    margin-bottom: 48px;
}

.column__title:not(:last-child){
margin-bottom: 20px;
}

.skills__eng{
    color:#C6EDE6;
    font-weight: 700;
}
.skills__column{
    display: flex;
    justify-content: space-between;
}
.item--1{
    flex: 1 0 auto;
    margin-right: 40px;
}
.item__list{
   padding-right: 20px;
}


.code__row{
    width: 600px;
    position: relative;
    padding: 20px;
    background: #abafe8;;
    border-radius: 20px;
    margin: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.code__row pre{
    color: #abafe8;
    position: absolute;
    z-index: 5;

}
.code__row pre:hover{
    transition: all 0.5s ease 0s;
    transform: scale(0.9);
}
.code__row::before{
position: absolute;
content: '';
width: 800px;
height: 120%;
background: linear-gradient(40deg, #f00, #f0f, #ff0, #0f0);
animation: animate 4s linear infinite;
}
.code__row::after {
    content: '';
    position: absolute;
    background: white;
    inset: 4px;
    border-radius: 16px;

}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}